[2014-10-21 00:06] danroth27 opened #2 "Move the unobtrusive source to this repo and update the repository field in bower.json"
Current the repository field points to the MVC repo, but the source should be located here.

[2015-02-19 21:41] yishaigalatzer opened #4 "Add unit tests as appropriate"

[2015-03-05 18:00] #2 closed

[2015-07-07 20:26] radiok opened #5 "Update Microsoft.jQuery.Unobtrusive.Validation to version 3.2.3"
NuGet [Microsoft.jQuery.Unobtrusive.Validation](https://www.nuget.org/packages/Microsoft.jQuery.Unobtrusive.Validation) has had a new version since February 9, 2015.  Could you please update GitHub with the latest release?  Thank you!

[2015-07-07 20:46] radiok commented on #5
I resolved this myself with 77eaf1715113a61764071ada7c5c998f6c414644 if you just want to merge.

[2015-07-07 23:39] Eilon commented on #5
@danroth27 let's make sure we include this repo in our triage. Looks like we should take this so let's discuss tomorrow.

@rustd would we need to update the templates with the new version?

[2015-07-08 16:54] #4 closed

[2015-07-13 22:54] giggio opened #7 "Publish to NPM"
Right now it is only on bower. Publish to NPM, that is the recommended way to deploy jquery plugins now.

[2015-07-15 13:51] alexsandro-xpt opened #8 "Why asp.net vnext still focused in jQuery Validation at client side?"
Today we have Angular Validation too. We should not have an angular - validation- unobtrusive too ?

[2015-07-16 01:38] nathanboktae commented on #8
Putting your business logic in HTML attributes in a view is a huge anti-pattern. This project should be killed with fire. See [Knockout-Validation](https://github.com/Knockout-Contrib/Knockout-Validation) for a proper separation of concerns where business logic is in code.

[2015-07-31 17:25] danroth27 commented on #8
There are certainly other client frameworks that you can use for validation, but we think jQuery Validation is still pretty popular.

[2015-07-31 17:25] #8 closed

[2015-07-31 17:25] danroth27 commented on #7
@DamianEdwards

[2015-08-06 16:37] vkrol commented on #5
+1

[2015-08-13 17:55] Eilon commented on #5
@kichalla please work with @rustd to see if templates need to be updated to use this new version.

[2015-08-18 20:43] rustd commented on #5
https://github.com/aspnet/Templates/issues/125 is tracking this for Beta8

[2015-08-31 14:22] mediafreakch commented on #7
+1 (adding a package.json makes sense anyway)

[2015-08-31 18:01] kichalla commented on #5
9a3a8478ed688a595e9a25eeb3f63559153acd64

[2015-08-31 18:01] #5 closed

[2015-09-11 23:30] Eilon commented on #7
@kichalla please talk to @DamianEdwards about how to set this up.

[2015-09-13 09:57] Jodith opened #11 "JS Exception on validation in MVC"
When using with MVC I get this error: "0x800a138f - JavaScript runtime error: Unable to get property 'attr' of undefined or null reference". The problem is in "onSuccess": I don't have "unobtrusiveContainer" defined and it throws this exception.
Since you check whether "unobtrusiveContainer" exists or not via "if (container)" I think it makes sense to move "replaceAttrValue = container.attr("data-

[2015-10-09 03:05] roysanchez opened #12 "Consider adding AMD support"
consider adding AMD support. I can do a Pull Request.

[2015-10-09 17:30] danroth27 commented on #12
@DamianEdwards

[2015-10-09 19:44] DamianEdwards commented on #12
Yeah that would be great. Perhaps make it [UMD](https://github.com/umdjs/umd) instead so it works "everywhere"?

[2015-10-13 20:48] onionhammer opened #14 "Very very poor performance invoking 'unobtrusive.parse' on large forms"
As an example; a form with something on the order of 800 fields, and it takes about 8 seconds to parse  on Chrome, quad core i7 (2.8ghz) with 16 gb of ram. That's 100 fields per second, which is pretty slow.

[2015-10-20 20:43] #11 closed

[2015-10-27 20:44] mogusbi commented on #7
Is this ever going to get published to npm?

[2015-10-29 18:25] kichalla commented on #7
I checked for the following bower.json(from asp.net 5 web template) packages if they are present in the npm registry...

[code]

[2015-11-02 14:38] glacasa commented on #7
jquery-validation 1.14 is present in npm registry
https://www.npmjs.com/package/jquery-validation

[2015-11-12 17:57] ryanbrandenburg commented on #14
@onionhammer I'm not able to reproduce any slowness in JS or unobtrusive.parse, but I DID find a perf problem with lots of @Html.EditorFor's on a page when the model is null and the debugger is attached. Could you check your browsers network tab for me? If your request is spending a lot of time "waiting" (AKA Time to First Byte) then it's probably the @Html issue.

[2015-11-12 22:41] onionhammer commented on #14
No, this is a purely client-side issue, not server related at all. 99% of the time is spent in that function.

[2015-11-13 05:00] Eilon commented on #14
@onionhammer can you perhaps send us the rendered HTML page (upload to GitHub somewhere), plus which browser version and  OS version you're using?

[2015-11-17 15:32] giggio commented on #7
@glacasa That is not jquery-validation-unobstrusive.

[2015-11-18 08:41] glacasa commented on #7
@giggio it was an answer to @kichalla, who said that jquery-validation was not present in npm registry.

jquery-validation-unobstrusive is still missing

[2015-11-20 22:27] ryanbrandenburg commented on #14
@onionhammer if you create a repro case for this feel free to reopen this, but I'm closing it until then.

[2015-11-20 22:27] #14 closed

[2015-11-25 20:02] spboyer opened #17 "npm install from git url provides incorrect info"
When using npm to install the package
`npm install https://github.com/aspnet/jquery-validation-unobtrusive --save`

the package name and version is incorrect.

[code]

Should enable Bower, NPM and install from git.  Please update the package.json to reflect same information in bower.json

[2015-12-01 17:34] kichalla commented on #7
41bf5b4c4d8bcf44dd810bf3bf96cc87f2c49315

[2015-12-01 17:34] #7 closed

[2015-12-01 21:53] giggio commented on #7
Is this the official package? https://www.npmjs.com/package/jquery-validation-unobtrusive

[2015-12-01 21:58] kichalla commented on #7
Yes

[2015-12-03 23:21] kichalla commented on #17
@spboyer Can you try again and let me know if this is fixed?

Currently if I install by NPM and using git url, I get the following(Also `jquery-validation-unobtrusive` has been published to NPM registry):

[code]

[2015-12-06 16:56] spboyer commented on #17
@kichalla LGTM :+1:

[2015-12-06 16:56] #17 closed

[2015-12-14 16:04] jcspader opened #19 "This version can't find the correct place to put error message"
When I define the tag span to receive error validation message, this plugin can't find the correct element to work.

For test, you can use this page:

[code]

When submitting, it creates a new element down the field, ignoring tag span `` data-valmsg-for="field2" `` already defined

In past versions work properly.
https://www.nuget.org/packages/jQuery.Validation.Unobtrusive/2.0.20710

![image](http

[2015-12-14 16:52] gercheq opened #20 ".has-error class needs to be added to parent .form-group element"
@kichalla Bootstrap styles need to be added to form-group elements on error. Is there a way to add this through the plugin? @goneneren

[2015-12-14 20:41] dougbu commented on #19
@jcspader please add the generated HTML (i.e. view source in your browser) and the HTML you expected.

[2015-12-15 10:40] jcspader commented on #19
@dougbu
[code]

[2015-12-15 16:41] dougbu commented on #19
@jcspader I must be missing the issue. Other than `required="required"` showing up in the `<span>` for `field1`, the generated code looks as I expect. There is just one `<span>` per `@Html.ValidationMessage()` call. What were you expecting to be different?

[2015-12-15 16:55] jcspader commented on #19
In the original version, when I create the Html.ValidationMessage element of Asp.NET MVC, the message is included into the element.

In the current version, it creates a new element down the field and ignore the correct element.

![image](https://cloud.githubusercontent.com/assets/1699660/11817405/e7c4b992-a33b-11e5-9b17-e5ac6de51b57.png)

[2015-12-15 17:20] dougbu commented on #19
Got it. The `jquery-validation-unobtrusive` code is creating `<span>` elements instead of using the existing ones. That is, it's not finding the elements with `data-valmsg-for="field1"` or `data-valmsg-for="field2"` attributes. Then `container` is an empty jQuery element after https://github.com/aspnet/jquery-validation-unobtrusive/blob/master/jquery.validate.unobtrusive.js#L42. Likely `this` refe

[2015-12-16 00:19] xt0rted commented on #20
This is usually achieved by extending jquery validation, not this plugin. [This Stack Overflow question](http://stackoverflow.com/q/18754020/39605) has a couple answers showing how to do it.

[2015-12-21 20:43] peterblazejewicz opened #21 "The library when distributed using Bower is missing License file"
I pretty sure (I work on update to aspnet/templates) that due to this line in Bower config:
https://github.com/aspnet/jquery-validation-unobtrusive/blob/master/bower.json#L13
the library is distributed without License.
There are banners in source file though:
https://github.com/aspnet/jquery-validation-unobtrusive/blob/master/jquery.validate.unobtrusive.js#L1-L4
Is this by decision or just overloo

[2016-01-12 06:51] kings1990 opened #22 "how to focus"
I can't auto focus the error input element,why ?
in my jquery.valdate.js ,the property focusInvalid=true
 what's my mistake?

[2016-01-27 01:09] Eilon opened #24 "Update bower.json version to 3.2.6"
https://github.com/aspnet/jquery-validation-unobtrusive/blob/master/bower.json#L3

[2016-01-27 01:31] #20 closed

[2016-01-27 01:32] Eilon commented on #22
@kings1990 can you show more code? Where did you set that? It would be best if you can upload a simplified app to a GitHub repo and we can take a look.

[2016-01-27 01:51] kings1990 commented on #22
1.Include the js
<script src="/static/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.validate.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.validate.regular.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.validate.messages_cn.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.validate.unob

[2016-01-27 22:54] #21 closed

[2016-01-28 22:32] #24 closed

[2016-01-29 01:05] kings1990 commented on #22
could you help me resolve it? @Eilon

[2016-02-03 00:10] ryanbrandenburg commented on #19
After consulting with @Eilon we've concluded that it's expected that jquery-validation-unobtrusive won't do anything when you aren't using the model syntax. An example of that is here https://github.com/aspnet/Mvc/blob/f0777b95a84583477bc53426e438116f0a0673e3/test/WebSites/TagHelpersWebSite/Views/Employee/Create.cshtml

As a note, your `new { required = "required"}` syntax is a part of jquery.vali

[2016-02-03 00:27] jcspader commented on #19
@ryanbrandenburg Sorry, but I think you did not read the history. I did a full HTML template and the error was found at @dougbu and add Bug tag by @Eilon.

Look the comment:
https://github.com/aspnet/jquery-validation-unobtrusive/issues/19#issuecomment-164722596

[2016-02-03 00:39] ryanbrandenburg commented on #19
@jcspader I did read the history, and again just now to ensure I didn't miss anything. I also plugged the example from your comment into a site and found that the behavior was the same whether jquery.validation.unubtrusive.js was included or not.

@dougbu did I miss something here?

[2016-02-03 00:48] jcspader commented on #19
@ryanbrandenburg
In short, after the latest changes of the plugin as the [comment ](https://github.com/aspnet/jquery-validation-unobtrusive/issues/19#issuecomment-164825953)of the image, Unobtrusive plugin is not locating the correct element to put the validation message.

[2016-02-03 00:49] Eilon commented on #19
@jcspader I think there's some confusion here around the three validation systems:

1. HTML5 looks at the `required="required"` attributes, though they are disable with the `novalidate = "novalidate"` attribute.
2. jQuery Validation also looks at the `required="required"` attributes and processes them, and it creates *its own* HTML labels/spans to show its errors.
3. jQuery Unobtrusive Validation

[2016-02-03 00:52] Eilon commented on #19
@jcspader from my understanding of the behavior you're seeing (and I looked at it together with @ryanbrandenburg), the extra weird message you see if coming from jQuery Validation looking at the `required="required"` attribute - and that is not related to jQuery Unobtrusive Validation.

If you remove all the HTML5 attributes from the code do you get the behavior you expect?

[2016-02-03 00:55] jcspader commented on #19
@Eilon  The Tag @Html.ValidationMessage(...) is because a copy my code asp.net mvc.

After I posted the code HTML + JS.
Please, forget the code from first comment.

[2016-02-03 00:56] jcspader commented on #19
@Eilon The Tag @Html.ValidationMessage(...) is because a copy my code asp.net mvc.

After I posted the code HTML + JS.
Please, forget the code from first comment.

[2016-02-03 00:57] Eilon commented on #19
@jcspader my current suspicion is still that it's jQuery Validation creating its own element and doesn't use the other error message elements.

But I'm happy to be wrong about this too :smile:

[2016-02-03 01:08] ryanbrandenburg commented on #19
@jcspader I've consulted with @dougbu and tweaked your earlier sample into working order:
[code]

Importantly, @dougbu pointed out that you likely were using the model but just left that out of the sample, so I've explicitly added it. Also of note is that casing DOES matter here (I thought it didn't which caused some confusion) and thirdly I've removed all the html attribute stuff which was cloudi

[2016-02-03 01:35] jcspader commented on #19
Guys, I change the first post and removed the ASP.NET MVC code to end the confusion.

[2016-02-03 06:33] Eilon commented on #19
Re-opening for discussion.

@jcspader if you're still seeing an issue, is there any chance you can share more of your page/controller/model so we can make sure we're trying out the exact same scenario?

Sorry for all the confusion around this!

[2016-02-03 23:46] Eilon commented on #22
@ryanbrandenburg as with the other issue you were looking at, this one might also involve identifying whether this is our code (Unobtrusive) or just basic jQuery Validate.

[2016-02-03 23:47] Eilon commented on #22
Also note that the original code in the repro is using JSP (Java), but the issue is client side so the server tech shouldn't matter.

[2016-02-04 01:03] ryanbrandenburg commented on #22
Here is a bare bones working example of your code:
[code]

The important part here is that you must submit the form. Focus will not happen if you just do "valid()". And of note here is that that is a property of jquery.validate.js, not of this repo.

Does that clear things up for you? If not please post a minimum reproduction repo.

[2016-02-08 20:09] ryanbrandenburg commented on #22
I'm going to close this one as "invalid". If you have more information then feel free to re-open it with that new info, otherwise I think the above should take care of you.

[2016-02-08 20:09] #22 closed

[2016-02-08 20:21] ryanbrandenburg commented on #19
@jcspader, it's been a couple days so I'm going to close this one. If you're still not solved and can provide your page/controller/model or other useful info feel free to re-open it, otherwise I hope we got you fixed.

[2016-02-08 20:21] #19 closed

[2016-02-10 16:08] pierre-weceipt opened #27 "Validation fails for float and decimal for non english format"
The script is failing validation for float and decimal inputs if the numbers is not in English format (with `.` as decimal separator). It should be able to accept other separators or use the locale values.

[2016-02-11 14:49] blogcraft commented on #27
I  have the same issue, here in Chile we have `,` as decimal separator and the validation always fails on the client side. Validation should adapt to the localization of the client. So my app works no matter what regional config is available in the browser

[2016-02-12 17:33] blogcraft commented on #27
I found there is a simple way to fix this, just add globalize and jquery-validate-globalize and it will work.

[code]

[2016-02-15 10:02] pierre-weceipt commented on #27
It's working, I'm closing the issue

[2016-02-15 10:02] #27 closed

[2016-02-23 01:46] kennywangjin opened #28 "Pure independent javascript implementation:"
Have you any plan to implement a pure javascript unobtrusive validation library? no dependent on jquery and jquery-validation.

[2016-02-23 16:13] Eneuman opened #29 "Does the unhighlight and highlight callback exists?"
Hi!
I'm trying to use the highlight and unhighligt callback that exists in the jQuery Validation plugin but these does not seem to work with this unobtrusive plugin. Is it me or are they not implemented yet?

Regards
Per

[2016-02-23 17:57] Eilon commented on #29
Hmm I'm not familiar with these callbacks. What are you expecting it to do?

[2016-02-24 07:40] Eneuman commented on #29
In the jQuery Validation plugin (http://jqueryvalidation.org/validate/) they have callbacks that lets you run you own code when certain things happens. Two of theese events are highlight and unhighlight.
Theese lets you override the presentation of invalid fields like this:

    $(".selector").validate({
     highlight: function(element, errorClass) {
       $(element).fadeOut(function() {

[2016-02-26 16:12] Luther-Varys commented on #27
how did you add the cultures to globalize?

[2016-03-06 04:14] ricardopolo opened #30 "When I reference this project in my website do I still need to reference Jquery validate?"
Or having jquery-validation-unobtrusive I will have all the methods available in jquery.validate.min.js?

Thanks!

[2016-03-06 04:21] ricardopolo opened #31 "Please publsh yourself in CdnJs"
https://github.com/cdnjs/cdnjs/issues/7176

[2016-03-06 23:47] Eilon commented on #30
Yes, when using this JS file you need to reference both jQuery and jQuery Validate.

If this file is being included in the project through a package manager (e.g. npm, bower, etc.) then all the required dependencies should be automatically installed.

[2016-03-06 23:47] #30 closed

[2016-03-07 13:12] pierre-weceipt commented on #27
Sorry for the late answer. I just added the scripts and it just "worked" but I don't know how as I latter used globalize somewhere else and had to do lot of config and import the culture jsons as described in globalize doc.

[2016-03-13 15:39] SanteR1 opened #32 "Localization unobtrusive"
Hello, I use mvc.net 5 and jquery-validation-unobtrusive, jquery-validation(localization)
For localization error message i use lib
https://github.com/jzaefferer/jquery-validation
But localization not work with your lib jquery-validation-unobtrusive
I test why not work this issue
https://github.com/jzaefferer/jquery-validation/issues/1736
Whether it is possible to correct it and to add a feature fo

[2016-03-13 20:49] Eilon commented on #28
Not planned at this time, but not a bad idea, either.

[2016-03-13 20:49] Eilon commented on #29
Not planning to support that at this time.

[2016-03-13 20:49] Eilon commented on #31
Will revisit at a later time, thanks.

[2016-03-26 20:05] ricardopolo commented on #31
Done

[2016-03-26 20:59] Eilon commented on #31
We can keep this open so we don't forget.

[2016-03-27 10:28] ricardopolo commented on #31
No @Eilon I mean the issue has been done

If you go to  https://cdnjs.com/ you can double check the jquery validate unobstrusive  is there.
They do it in this commit https://github.com/cdnjs/cdnjs/commit/62ccaba830a4914dfa4bb4687a5fb6b6a78fa3f9, it uses NPM autoupdate so you can forget about it.

[2016-03-27 10:28] #31 closed

[2016-03-27 16:48] Eilon commented on #31
Oh, well than thank you very much! :smile: I'll mark this issue as completed.

[2016-04-01 14:49] vanillajonathan opened #33 "Name attributes containing brackets does not work"
When using `[` and `]` in the `name` attribute then it does not find the `data-valmsg-for` element to put the error message in.

`name=Foo.0.Bar` works, but `name=Foo[0].Bar` does not work.

### Functional impact
Validation does not work for input fields with a `name` attribute containing brackets.
If the developer can't use brackets, then receiving data into a view model gets impossible in situat

[2016-04-27 17:31] dougbu opened #34 "Question: Should version be higher than 5.2.3?"
The only versions for prior versions of jQuery Validation Unobtrusive line up with the MVC version they were released with (see [CDN listing](http://www.asp.net/ajax/cdn#ASPNET_MVC_Releases_on_the_CDN_16)). So the version before we created this repo was `5.2.3`.

The `npm` and `bower` packages we publish from here are version `3.2.6`. Is this lower version number going to confuse our customers? (I

[2016-04-27 17:33] dougbu opened #35 "Add latest files to http://ajax.aspnetcdn.com"
Bug fixes made in this repo are not available to customers using the ASP.NET CDN. At least the  [CDN listing](http://www.asp.net/ajax/cdn#ASPNET_MVC_Releases_on_the_CDN_16) mentions only older versions of jQuery Validation Unobtrusive.

[2016-05-10 04:37] bh3605 opened #36 "The equalto attributes do not work at all"
See my stackoverflow question for reference: http://stackoverflow.com/q/37127178/2567273

Basically, the element the equalto-other attribute uses as a reference isn't being updated whenever the referenced element's value is changed causing the validation to ALWAYS be invalid.

I'm kinda surprised this hasn't been brought up sooner.

[2016-05-10 06:51] Eilon commented on #34
D'oh. The versions listed on that CDN page are wrong. But that ship has sailed. So, long story short, no, this is fine as far as the Bower/NPM/NuGet packages are concerned. It's just an issue with what they're called on the CDN.

[2016-05-10 06:51] #34 closed

[2016-05-10 20:29] cjcfreitas opened #37 "Validation summary ul"
By using `list = container.find("ul");`all `ul` tags inside the form will be selected.
If one uses a `ul` inside the form (e.g. FuelUX ComboBox) it will be reseted and filled with the error messages.
I suggest using an `id` for the error summary list: `list = container.find("#errorSummary");`.

[2016-05-10 22:57] dougbu commented on #37
Why not find `ul` elements that are children of `div` elements with the `validation-summary-errors` class e.g. `div.validation-summary-errors>ul`? Can do the same for `ul` children of `div` elements with the `validation-summary-valid` class if those need to be handled as well.

[2016-05-10 23:00] dougbu commented on #37
My apologies, you were looking at https://github.com/aspnet/jquery-validation-unobtrusive/blob/35546f7c49cfeb7947859e7292b5df402fce2471/jquery.validate.unobtrusive.js#L60

The `container` there is already the containing `div` and the `class` has already been verified. Cannot select all `ul` elements on the page or in the `form`.

[2016-05-10 23:45] Eilon commented on #37
Hmm, yes, the code already looks to be written safely. I'm closing this issue for now.

@cjcfreitas if you can provide a detailed example of what HTML would cause a failure we can look at this again.

[2016-05-10 23:45] #37 closed

[2016-05-11 08:08] cjcfreitas commented on #37
@dougbu and @Eilon:
You are absolutely right.
The reason I had the issue was because I was using a self closing div as a container. I failed to notice that previously. Sorry for wasting your time. Many thanks.

[2016-05-11 16:28] Eilon commented on #37
@cjcfreitas thanks! BTW self-closing `<div>` tags are not valid HTML (it's super annoying!).

[2016-05-16 23:27] #33 closed

[2016-05-18 06:15] Eilon commented on #36
@ryanbrandenburg can you find out what's going on here?

[2016-06-15 12:06] rok7 opened #39 "Name attributes containing a dot do not work"
When using nested properties, unobstrusive validation does not work.
Example:
[code]

The reason for this is the escapeAttributeValue call in the function onError(), which removes the dot from the field name and therefore doesn't find the container with this name
[code]

### Functional impact
Validation does not work on nested properties

[2016-06-27 16:32] kbherbert commented on #39
I just wanted to point out that I am using jQuery 2.2.4 and I am not seeing this issue. Wondering if you are seeing this as a result of some odd combination (jQuery + jQuery validation + jquery Unobtrusive)?

[2016-06-28 05:43] rok7 commented on #39
Thank you for your Response, you might be right: my combination was
jquery: 2.2.0, jquery-validation: 1.15.0, jquery-validation-unobtrusive: 3.2.6.
After changing jquery-validation to 1.14.0 I still have the same Problem.

Which combination are you using?

[2016-07-13 22:54] ryanbrandenburg commented on #36
@bh3605 I was unable to reproduce this. [Here's](https://github.com/ryanbrandenburg/ValidationEqualTo) my repro app. Could you check to see that this still reproduces for you and create a similar minimum reproduction repository if it does?

[2016-07-14 14:42] mitrovicsinisaa opened #40 "OnClick not working with jquery-validation-unobtrusive"
Hello,

I have specific problem, and I'm not sure if this is due jquery-validation-unobtrusive or jquery-validation itself. I have ASP MVC 5 project with validation. Form is submitted via AJAX. Unobtrusive work on focus event of other element as far as I could see, and it call onError and onSuccess methods of unobtrusive. Problem I have is that if I have error on input field, and I insert correct

[2016-07-19 16:44] ryanbrandenburg commented on #36
Closing this as can't repro. If you can still reproduce please reopen with a reproduction app.

[2016-07-19 16:44] #36 closed

[2016-07-20 16:54] Eilon commented on #39
@ryanbrandenburg can you try to repro and see what's up with this?

[2016-07-22 17:45] ricardopolo opened #41 "Please release a new version"
Jquery validation just release a new version

https://github.com/jzaefferer/jquery-validation/issues/1798

Please release a new version of jquery validation unbostrusive

[2016-07-22 17:50] Eilon commented on #41
@ricardopolo assuming that jQuery Validation remains backwards-compatible, there shouldn't be a need to release a new version of jQuery Validation Unobtrusive.

Do you have a specific request here?

[2016-07-22 18:01] ricardopolo commented on #41
Oh, I thought, you are just a wrapper of the public jquery val.

@codingneat can you tell use please about this requeriment? What is wrong with the old version of jquery that doesnt allow summernoote work propertly?

Thanks

[2016-07-22 20:42] Eilon commented on #41
@ricardopolo nope, the jQuery Unobtrusive Validation we have here is an add-on library that depends on jQuery Validation (and jQuery).

[2016-07-25 16:44] #41 closed

[2016-07-26 15:14] ryanelian commented on #12
Just chiming in while this issue is not addressed.

At the moment, I'm using Gulp + Browserify as part of my client-side project management. This is what my entry point and setup for ASP.NET MVC Validation looks like using the tools:

![aspnet-entry](https://cloud.githubusercontent.com/assets/8892187/17143571/e56366ec-537d-11e6-8486-15547dc1fc4c.PNG)

![aspnet-validate](https://cloud.githubusercon

[2016-07-26 17:23] Eilon commented on #12
@ryanelian would https://github.com/aspnet/jquery-validation-unobtrusive/pull/13 address this?

It just hasn't been a high priority for us because we haven't seen a whole lot of interest in that space. But if there is, we can reconsider.

[2016-07-26 17:42] ryanelian commented on #12
Unfortunately #13 didn't address this although it is on the right track. I've tried loading https://github.com/roysanchez/jquery-validation-unobtrusive/blob/master/jquery.validate.unobtrusive.js by putting it into the same folder as the source then using something like:

[code]

Here's what happened:

1. It's supposed to load `jquery-validation` instead of `jquery.validate` module. `[00:28:02] { E

[2016-07-27 17:00] Eilon commented on #12
@DamianEdwards any thoughts on adding support for this? Seems like a nice bit of value we can add.

[2016-07-27 17:26] DamianEdwards commented on #12
Yep would be great to do it. We should investigate the UMD pattern rather than just implement AMD though.

[2016-07-28 06:23] ryanelian commented on #12
Yay.

Also probably should look into whether `jquery-validation-unobtrusive` can be required stand-alone (without requiring `jquery` and `jquery-validation`) in Browserify after being converted into UMD module.

So instead of writing this (existing):

[code]

I can just do this instead (This may require updating the `jquery-validation-unobtrusive` NPM package so that it has dependency on `jquery`

[2016-07-28 16:48] szykov commented on #39
Hi' i'm having the same issue. If i use nested properties jquery unobtrussive stops working.
i'm using:
    "jquery": "2.2.4",
    "jquery-validation": "1.15.0",
    "jquery-validation-unobtrusive": "3.2.6",

i've created theme here also:

http://stackoverflow.com/questions/38131201/jquery-unobtrusive-stops-working-if-asp-for-has-dots-in-name

[2016-07-28 17:48] Eilon commented on #12
@ryanbrandenburg please have fun learning about script loading 😄

[2016-07-28 21:54] ryanbrandenburg commented on #39
@rok7 are you using `jquery.validation.unobtrusive.js` or `jquery.validation.unobtrusive.min.js`? It appears that our *.min file for this repo is behind, and there's a fix missing from `min` that could definitely explain your problems. If you're using min please try it with the un-minified version. If that works we'll update our *.min.js, if not please upload a repro app (complete with whatever ve

[2016-07-28 22:43] ryanbrandenburg commented on #39
I dug at this a little more and found out that our NPM repository is also a little bit out of date. If you try a copy of `jquery.validation.unobtrusive.js` directly from github does it work? Either way we're working to get it updated and improve our process to prevent future missed versions.

[2016-07-29 14:01] szykov commented on #39
@ryanbrandenburg just tried to copy js files from github directly and it didn't help.

validation-summary-errors and server side validation works. but client side isn't working at all.

[2016-07-29 16:16] ryanbrandenburg commented on #39
In that case can you upload your app (or a parred down app that displays the same behavior) to a GitHub repo so that I can investigate it? Please include whatever .js files you have on disk rather than relying on NPM to bring them in.

[2016-08-02 18:17] ryanbrandenburg opened #43 "Minify js as part of build"
Currently we rely on people manually minifying the file, we should add a git hook or a build.cmd or something which minifies the js automatically so the `.js` and `.min.js` don't get out of step.

[2016-08-03 16:58] Eilon commented on #43
All yours 😄 Make sure that whatever we do to automate this is xplat-friendly.

[2016-08-03 18:12] javiercn commented on #43
No git hook. You should work with @pranavkm to add it to the build steps. Ideally we should produce the minified versions on each build and not have them check-in.

[2016-08-03 18:47] pranavkm commented on #43
We used to do mininfication with TagHelper scripts in Mvc as part of the build (we stopped doing this because we didn't want npm \ gulp to run as part of Mvc's build). We could do something similar here.

[2016-08-03 20:19] Eilon commented on #43
I think we need the minified files checked in because that's how Bower works.

[2016-08-04 22:18] ryanbrandenburg commented on #12
For those of you following along at home [this](https://github.com/jzaefferer/jquery-validation/issues/1829) issue sounds like they'll be fixing jquery-validation to export jquery without the putting it in global. We'll wait to finish up this work until that's available, it should be a pretty quick and clean fix after that's done.

[2016-08-04 22:29] ryanbrandenburg commented on #43
If the minified version must be checked in to git for bower to consume then a git hook is the only way I can think of to ensure it gets minified. I'll make that my plan unless I hear otherwise.

[2016-08-04 22:35] Eilon commented on #43
Just do it on build, no? Does this need to be any more complicated?

[2016-08-04 22:36] pranavkm commented on #43
The way we do with PageGenerators? Check in the minified file and have a way for the build to produce one?

[2016-08-04 22:37] Eilon commented on #43
Yeah wouldn't that be like ultra trivial?

[2016-08-04 22:43] pranavkm commented on #43
Yup. It's just manual work you'd have to remember to do anytime the file is modified. Maybe we could update the README to say this.

[2016-08-04 22:56] ryanbrandenburg commented on #39
A reminder, I'll need a full application which displays this behavior uploaded as a Github repo to debug this issue further.

[2016-08-05 02:49] xt0rted commented on #43
Why not put all of this into gulp [like bootstrap does](https://github.com/twbs/bootstrap/blob/7e2741eb1074afc66bdf2fb5c2b65d476cf7f37e/Gruntfile.js#L510)? Then to do a new release you'd just run this, commit, and then add a release to the repo. You could even have gulp do it all for you https://gist.github.com/eseceve/1461a561b4184dd6e2da

[2016-08-05 14:02] rok7 commented on #39
While trying to provide an application for investigation I found the problem:
When a new ASP.Net Core application is created everything works ok. However, if in VisualStudio the file bower.json is manually modified (because jquery-validation-unobtrusive is not listed by the ‘Browse’ function, it's necessary for example to select a different version), then VisualStudio restores jquery-validation-un

[2016-08-05 17:50] ryanbrandenburg commented on #33
@vanillajonathan, the change I made to resolve this was incorrect and caused #39. Everything works on your jsfiddle if you change `data-valmsg-for="Foo[1].Alternatives[0].Selected"` to `data-valmsg-for="Foo[1].Alternatives[1].Selected"`. The problem was actually that your span was for an input element that didn't exist. Sorry for the confusion.

[2016-08-05 17:52] Eilon commented on #43
@xt0rted yeah I think that's the same idea as what we want, but I think what we need here is somewhat simpler because it's just 1 file. But yeah basically we need to just run gulp and commit.

[2016-08-05 19:45] ryanbrandenburg commented on #39
Those `\` were the result of an attempt to fix a different issue, but upon closer inspection that issue was caused by something else and we can revert that change. That's happening in #44.

[2016-08-06 06:40] szykov commented on #39
@ryanbrandenburg Hi, sorry for delay. Here's the link to github repository:
https://github.com/szykov/WebServicesApp

It is my first try to upload anything to github. You can access the form by using something like this:
http://localhost:53000/spare-parts

Thanks.

[2016-08-06 06:54] szykov commented on #39
@rok7 thanks. that's indeed solved my problem. thanks.

[2016-08-08 11:56] vanillajonathan commented on #33
You are right. Sorry for the confusion and thanks for getting back to me.

[2016-08-08 19:02] #43 closed

[2016-08-08 20:10] Eilon commented on #43
Done?

[2016-08-09 17:53] ryanbrandenburg commented on #39
This should all be resolved now that #44 is merged in.

[2016-08-09 17:53] #39 closed

[2016-09-08 23:41] ryanbrandenburg commented on #12
jquery-validation has taken my PR to fix they're issue, and now we're waiting for it to be available on bower.

[2016-09-13 04:40] Eilon commented on #40
@ryanbrandenburg can you have a look? This is with ASP.NET MVC 5, but it's pretty much the same client side code as the new stuff we have, so we could try to repro with that first and see if it's still an issue.

[2016-09-13 07:10] mitrovicsinisaa commented on #40
After additional testing issue can be reproduced easily. Unobtrusive fire onError and onSuccess methods after field lose focus. So if I clock anywhere but on submit button, it will work as expected.
Problem is direct clicking on submit, in that case Unobtrusive fire events, and escape click event of button.

[2016-09-21 16:57] ryanbrandenburg commented on #40
@mitrovicsinisaa I was unable to reproduce this. I used [this](https://github.com/aspnet/Mvc/tree/rybrande/validation/test/WebSites/BasicWebSite) site on that branch to try to replicate what you described. Does the cshtml for RemoteAttribute_Home/Create accuratly reflect what you're trying to do? If not then let me know where I went wrong. If it does, then there's likely a problem in either your a

[2016-09-23 18:04] ryanbrandenburg commented on #40
@mitrovicsinisaa a reminder to check on this.

[2016-09-26 18:27] ryanbrandenburg commented on #40
Closing this as could not repro. If you can explain where I went wrong in my attempt or even better provide a reproduction app feel free to reopen it.

[2016-09-26 18:27] #40 closed

[2016-10-04 09:11] mikes-gh commented on #29
Heres an example of how to setDefaults when using unobtrusive
Put this at the end of your _ValidationScriptsPartial.cshtml

This example uses Highlight and Unhighlight callbacks for bootstrap styling.
Note if you want to set invalidHandler for clever focus or something you need to set it at the unobtrusive level as unobtrusive overites jquery.validate for this option.

Its all very confusing.
It w

[2016-10-14 09:12] rjgotten opened #46 "Resetting a form does not reset validation message properly"
https://github.com/aspnet/jquery-validation-unobtrusive/blob/master/jquery.validate.unobtrusive.js#L102-L110 only removes the CSS classes.

When resetting a form to an unvalidated state, the validation message content should also be erased and the link between validated input field and error message that is established by the `aria-describedby` attribute should be severed by removing the attribute

[2016-10-26 21:51] Eilon opened #47 "Updating jQuery Unobtrusive Ajax scripts"
_From @rustd on April 6, 2016 20:36_

We are using these scripts in MVC 5 as well. Today we are only updating them in bower and npm.
Should we update the NuGet package (https://www.nuget.org/packages/Microsoft.jQuery.Unobtrusive.Ajax/) for MVC 5 as well.

_Copied from original issue: aspnet/Mvc#4420_

[2016-10-26 21:51] Eilon commented on #47
_From @danroth27 on April 12, 2016 16:54_

@DamianEdwards Thoughts on this?

[2016-10-26 22:56] DamianEdwards commented on #47
If they're fully compatible, then sure. But it might be better to do it as part of the wider MVC 5.x updates we plan on doing.

[2016-10-26 23:09] Eilon commented on #47
@DamianEdwards yeah that comment was actually from 6 months ago 😄 But yes I agree.

[2016-11-03 08:46] RehanSaeed opened #48 "Include Minified Version in NPM Package"
Here are five important reasons why shipping the minified version in the NPM package is a good thing:

1. To support Subresource Integrity (SRI) - This is used to ensure that the copy of a file on a CDN has not been tampered with. The minified file on the CDN is compared to a local copy but for that to happen both minified copies need to be the same! If you don't provide a minified copy, then peop

[2016-11-03 13:55] RehanSaeed commented on #43
The minified script is not contained in the NPM package. I've raised [this](https://github.com/aspnet/jquery-validation-unobtrusive/issues/48) with [this](https://github.com/aspnet/jquery-validation-unobtrusive/pull/49) PR to fix this problem.

[2016-11-03 16:52] RehanSaeed opened #50 "Please Include Access-Control-Allow-Origin:* on Microsoft CDN"
The Microsoft CDN uses the Access-Control-Allow-Origin HTTP header inconsistently. Some scripts get it while others don't. I've tried a few avenues in getting this resolved and only managed to get the header added to bootstrap but not the unobtrusive script. The header should be added for two reasons:

`Access-Control-Allow-Origin:*`

1. Allows the `cross-origin` attribute to work and report more

[2016-11-03 22:49] Eilon commented on #48
@ryanbrandenburg can you review the associated PR and merge when ready?

[2016-11-07 20:08] ryanbrandenburg commented on #48
Merged. Thanks again!

[2016-11-07 20:08] #48 closed

[2016-11-14 13:59] denisz1 opened #51 "Include version in file's header"
Every js library includes the version in the file's header.

This library does not. And that means I always waste time trying to figure out the version, and make my build scripts work properly.

Please add the version, all it says now is this:

    /*!
    ** Unobtrusive validation support library for jQuery and jQuery Validate
    ** Copyright (C) Microsoft Corporation. All rights reserved.
    *

[2016-11-27 06:56] Eilon commented on #51
@kichalla please do the same for https://github.com/aspnet/jquery-ajax-unobtrusive as well.

BTW I wonder if it's possible to automate it somehow? E.g. have a token such as `%VERSION%` in the file, and read the version from `package.json` at build time?

[2016-11-27 06:57] Eilon commented on #50
@blowdart is this your territory now? I know we've had lots of CORS issues with the CDN before.

[2016-11-27 07:31] xt0rted commented on #51
I do this with gulp using `gulp-header` for all of my css & js.

[code]

[2016-11-27 08:10] RehanSaeed commented on #50
I happened to reply to a tweet @blowdart made who sorted this issue pretty promptly.

[2016-11-27 08:10] #50 closed

[2016-11-27 19:49] Eilon commented on #51
@xt0rted very nice, thanks! That looks like exactly what we need!

[2016-11-27 20:32] Eilon commented on #46
@rjgotten thanks for reporting this, we'll take a look. Can you provide more info on what doesn't work?

I also don't see any mention of `aria-describedby` in the JS code - is that done by jQuery Validate itself?

[2016-11-27 20:32] Eilon commented on #46
@ryanbrandenburg can you look into this?

[2016-12-09 07:53] maliming opened #52 "can't use the resetForm() to clear the error message"
![error](https://cloud.githubusercontent.com/assets/6908465/21041661/741b9dc8-be27-11e6-800d-58acf74589d5.png)

[2016-12-09 08:48] maliming commented on #46
@Eilon [https://github.com/aspnet/jquery-validation-unobtrusive/issues/52](url)

[2016-12-09 08:49] maliming commented on #46
@Eilon I have the same problem

[2016-12-10 01:03] ryanbrandenburg commented on #46
Emptying the span (as I interpreted your suggested fix) would be one way to fix this, but my understanding is that a simpler way would be to just include a .css file on your page with `.validation-summary-valid { display:none; }`. Maybe we should add a "default" css file?

[2016-12-12 08:45] rjgotten commented on #46
It's not just the summary that's affected. It's also all the individual messages.

And setting the `validation-summary-valid` and `field-validation-valid` classes to `display:none` is only an option if they are not used in a particular site's styles in other ways. E.g. `field-validation-valid` could be in use by site devs to display a checkmark for properly validated fields.

This also does not re

[2016-12-12 20:16] Eilon commented on #46
MVC's validation features do require that apps provide a few common CSS styles by default, e.g. the ones in each app's site.css: https://github.com/aspnet/MusicStore/blob/ca0cf58fe27ef0f11e0bf7fb71d118dbff801e83/samples/MusicStore/wwwroot/Content/Site.css#L19-L42

You can see the list of required CSS styles here: https://github.com/aspnet/Mvc/blob/8f8bf5af341b5cc07e0611dc9a3a02e471e2bf63/src/Micro

[2016-12-12 23:24] rjgotten commented on #46
You believe wrong. Attributes such as `aria-describedby` or  `aria-labeledby`  ignore the hidden/visible state of the element(s) they refer to. That is by design. You can even add `aria-hidden="true"` to such a target element and assistive technology will *still* source the text of it.

See: https://www.paciellogroup.com/blog/2015/05/short-note-on-aria-labelledby-and-aria-describedby/

[2016-12-13 00:00] ryanbrandenburg commented on #46
[This](https://github.com/jzaefferer/jquery-validation/issues/1299) issue seems to show that left-over `aria-describedby` attributes are A) caused by jQuery.Validation, not jQuery.Validation.Unobtrusive B) intentional on the part of jquery-validation (rightly or wrongly). That being the case (unless I missed something) I would suggest filing the `aria-describedby` stuff against them.  That said, w

[2016-12-13 01:04] Eilon commented on #46
@rjgotten the various styles I'm referring to were actually supposed to be in the MVC templates but they got removed for an unknown reason. We tried tracking down why it happened but weren't able to find out why. They used to be in MVC templates a long time ago. The jQuery Validation Unobtrusive library here fundamentally requires having those CSS styles defined - it is just by sheer coincidence t

[2016-12-13 07:21] rjgotten commented on #46
What fundamental requirement? The validate.unobtrusive source code doesn't even access `jQuery.fn.css` or the plain old `HTMLElement.style` property. Without any kind styles applied for the class names used by MVC validation, the only thing which doesn't work correctly from a functional perspective is the fact that errors are not emptied out when a form is reset.

Everything else, including emptyi

[2016-12-13 08:52] maliming commented on #46
@Eilon @ryanbrandenburg @rjgotten
i open pr #54 onReset callback not be call.

[2016-12-13 20:12] Eilon commented on #46
@rjgotten the fundamental thing about the styles is done at places such as this: https://github.com/aspnet/jquery-validation-unobtrusive/blob/fde966f9e83a7afe5de16a39301cb0db2b01fe20/jquery.validate.unobtrusive.js#L79

The system has always historically required that the styles be present and be defined to have valid things invisible (or at least, *less* visible), and invalid things visible (and,

[2016-12-14 00:20] maliming commented on #46
I'm Invisible Man

[2016-12-14 02:55] #52 closed

[2016-12-14 17:52] Eilon commented on #46
@maliming sorry, not trying to ignore you, I just want to make sure we understand what the fundamental scenario and requirements are.

[2016-12-30 23:47] #51 closed

[2017-01-11 10:09] XmlmXmlmX commented on #35
I use https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js

[2017-02-02 19:35] aggieben commented on #28
I agree.  I would really not like to either

- roll my own validation library
- take a dependency on jQuery, which I have been fastidiously avoiding, just for this

[2017-02-03 08:03] ryanelian commented on #12
I just found out that JQuery Validation 1.16.0 was outed with your fix last December.

I thought I'd let you know about it.

[2017-02-03 21:39] Eilon commented on #12
@ryanelian cool! @ryanbrandenburg ping!

[2017-02-03 22:11] ryanbrandenburg commented on #12
Excellent! I'll get to this after the current batch of items I've started work on.

[2017-02-06 00:06] dotnetshadow opened #57 "NPM version and milestone mess (out of sync)?"
Hi there,

I'm finding it very hard to work out what version of the library is included in the npm package.

When I specify version 3.2.6 I expect to see the minified version of the library in the npm package but I don't, Yet when I look at previous issues, it suggest that this has already been added to version 3.2.6
See #48

Are the versions and npm packages out of sync?

[2017-02-13 23:17] #12 closed

[2017-02-14 00:56] Eilon commented on #12
@ryanbrandenburg is this fixed?

[2017-02-14 18:57] ryanbrandenburg commented on #12
Yes, updated.

[2017-02-21 06:48] ryanelian commented on #47
Any estimate when the new scripts will be published to NPM / nuget?

[2017-02-28 13:16] joacar opened #59 "Validation cross different Cultures"
Hi,

When adding localization to my asp.net mvc core project the validation isn't synced. Request the `en-US` version of a page handles the input `2,5%` correctly in that it should be `2.5%`.

However, resorting to swedish `se-SV` the input `2,5%` is interpreted as incorrect.

Search for any previous issues regarding this but couldn't find any. Most probable cause is bad search words, since this f

[2017-03-03 21:47] danroth27 commented on #59
Have you included client side globalization libraries for the cultures you want to support? Take a look at the "Globalized JavaScript Validation" section of this blog post to see how this is done.

[2017-03-04 20:49] joacar commented on #59
Haven't done that.. Will check it out, thanks!

[2017-03-04 20:49] #59 closed

[2017-03-06 10:31] joacar commented on #59
@danroth27 At my desktop now and you must have missed to include the url to the blog post. Thought it was just a rendering issue on the phone at first.

Doing some proper googling resulted in [this](https://github.com/johnnyreilly/jquery-validation-globalize) and ~~[this](https://github.com/johnnyreilly/jQuery.Validation.Unobtrusive.Native)~~ (asp.net/webforms) both by John Reilly.

Is it the firs

[2017-03-06 16:54] danroth27 commented on #59
Sorry about that - here is the Scott Hanselman post I meant to include: http://www.hanselman.com/blog/GlobalizationInternationalizationAndLocalizationInASPNETMVC3JavaScriptAndJQueryPart1.aspx.

[2017-03-16 15:24] kevindb opened #60 "Conflict with jQuery Form plugin causes stack overflow on form reset in IE"
I am a (new) maintainer of the [jQuery Form](https://github.com/jquery-form/form) plugin. An issue was filed for a stack overflow in IE when a page is using both our plugins.
https://github.com/jquery-form/form/issues/398

Example: http://jsfiddle.net/9ULrP/
More information: http://stackoverflow.com/questions/21052491/form-reset-causes-out-of-stack-space-error-with-jquery-validation

People have

[2017-03-31 08:02] VincentvD commented on #57
NPM version (3.2.6) seems to be the previous version 3.2.5.

[2017-03-31 08:03] mathijsrave commented on #57
It seems that the 3.2.6 release is identical to the 3.2.5 release, even on the github release page.

[2017-04-12 21:36] Eilon opened #61 "Change EULA link from http to https"
* https://github.com/aspnet/jquery-validation-unobtrusive/blob/master/bower.json#L27
* https://github.com/aspnet/jquery-validation-unobtrusive/blob/master/package.json#L21

[2017-04-20 14:14] dennismsmith opened #62 "Inconsistent HTML Encoding of Validation Message"
### Functional impact
When using data annotations to configure validation, the message does not get HTML encoded when it is rendered client side for unobtrusive validation, but it does get HTML encoded when rendered in response to server side validation.  As a result, any error message that contains characters that need to be HTML encoded cannot be reliably used for both client and server side val

[2017-04-23 09:06] sergeydgr8 opened #63 "NuGet version uses andSelf instead of addBack"
Refer to: https://github.com/jquery-validation/jquery-validation/issues/1997

It seems like this repo doesn't have the issue. However, the version that is hosted on NuGet does have it.

[2017-05-09 09:50] Emyr42 opened #64 "AddSingleVal doesn't work when attribute is unspecified."
(Sorry for the brevity, posting from phone as work proxies no block HTTP POST to github "to prevent uploads" ffs)

In the line starting "setValidationRules(", attribute is used verbatim, whilst it it coalesced with "val" in the previous line. This means options.params can be {"val":"10"} but it tries to use undefined as the key.

[2017-05-09 21:47] SertacEren opened #65 "How the message changes according to the current culture with asp.net core ?"

[2017-05-14 19:09] peterblazejewicz opened #66 "The minified bundle version is not published to NPM"
You've already fixed a problem with missing minified bundle inclusion in NPM:
https://github.com/aspnet/jquery-validation-unobtrusive/issues/48
but the updated NPM definition was never used to update version on NPM, so people are downloading version without minified content I think.
Related:
https://github.com/aspnet/jquery-validation-unobtrusive/issues/57

[2017-05-16 17:35] dougbu commented on #62
We should fix this in MVC (solution 2 above).

[2017-05-16 17:35] #62 closed

[2017-06-08 18:30] #61 closed

[2017-07-28 14:10] ryanelian commented on #28
Hello, I have created a pure JavaScript implementation of this library.

https://github.com/ryanelian/aspnet-validation
https://www.npmjs.com/package/aspnet-validation

Like any other new libraries, while it has been tested and working alright for the past few days, you should probably not use it to run a mission critical application.

[2017-09-06 10:46] johnhornsby opened #69 "Adding custom rules using data-val-<customname> fails on Chrome Canary 63 Windows 10"
I've been having issue with getting custom rules working and discovered this was only happening in Chrome Canary version 63.x on Windows 10 and 62.x on OS X

Here is my [Stack Overflow question](https://stackoverflow.com/questions/46041157/custom-unobtrusive-validation-method-not-firing-as-per-documentation)

Here is some demo code on [JSfiddle](https://jsfiddle.net/2hk3kqzk/14/)

[2017-09-06 18:58] Eilon commented on #69
@kichalla can you take a look?

[2017-09-06 20:54] kichalla commented on #69
@johnhornsby I was unable to repro this on the 63.0.3207.0 version of Canary on my Win10 64-bit machine. I used the code from JSFiddle in my app and was able to see the validation messages as expected. Just to be sure, do you see any error messages in the console?

[2017-09-07 08:43] johnhornsby commented on #69
Hi, I've now properly updated to Version 63.0.3207.0 (Official Build) canary (64-bit), from 62.x for some reason my browser was displaying a more resent build or I was reading it wrong. This now works perfectly in Chrome Canary 63. Apologies for the flapping about.

[2017-09-07 16:23] kichalla commented on #69
Great. Thanks for the quick response.

[2017-09-07 16:23] #69 closed

[2017-09-08 10:34] duncanmcdougall commented on #57
Is there any plans to get the UMD commit part of an official release (e.g. 3.2.7) and pushed to npm or has this repo been abandoned?

[2017-09-08 11:17] mathijsrave commented on #57
@duncanmcdougall @VincentvD released the fixed version as a package on npm: https://www.npmjs.com/package/jquery-validation-unobtrusive-umd-fix

[2017-09-08 15:52] Eilon commented on #57
This repo isn't abandoned but it hasn't been a high priority compared to other issues we've been working on.

[2017-09-09 06:49] polishninja commented on #29
I've found that if you set the default options before loading the unobtrusive script, it will work. Here I've placed the semantic.validation.js after the jquery.validate.js but before the jquery.validate.unobtrusive.js script.

` <script src="~/lib/jquery/dist/jquery.js"></script>`
`<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>`
**`<script src="~/js/semantic.validation.js

[2017-10-09 21:39] FanrayMedia opened #71 "jquery-validation-unobtrusive npm package missing min version"
Installing npm package https://www.npmjs.com/package/jquery-validation-unobtrusive will only give you jquery.validate.unobtrusive.js, it's missing the min version.  Should it be like jquery-validation lib when installed it gives you a /dist folder which contains both min and un-min-ed version?

[2017-11-06 17:01] GavinSutherland opened #72 "Validation fails for date ranges when the value is valid"
I have an Asp.Net Core 2 MVC site using unobtrusive validation v3.2.6. Using FluentValidation (v7.2.1) server side my nullable DateTime property is being rendered as:

`<input class="text-box single-line input-validation-error" data-val="true" data-val-range="'Birthdate' must be between 1/1/2016 00:00:00 and 1/1/2018 00:00:00." data-val-range-max="1/1/2018 00:00:00" data-val-range-min="1/1/2016 00

[2017-12-19 05:15] raky291 opened #73 "Lazy validation"
Hello, when you use the validation summary tag helper, the error list is not updated when you re-edit a control.

There are some properties that help update the list of errors, here is an [example](https://github.com/jquery-validation/jquery-validation/blob/master/demo/errorcontainer-demo.html).

we can use the following properties `errorContainer`, `errorLabelContainer`, `wrapper` instead of `onE

[2018-01-21 11:47] funkynicco opened #74 "Small semicolon inconsistency fix for some minifiers"
There is a missing semicolon for the variable declarations on lines 124-131 (as of current date of writing this, latest commit being e7444c9ab5512d455069815e23b954ce2e7b2518).

This breaks some minifiers which makes the minified code as following example:
[code]

This generates "unexpected if".

If anyone is able to fix this it would be great (theres a number of minifiers that does not build up an

[2018-01-26 09:23] mkArtakMSFT commented on #73
Thank you for filing this issue. In order for us to investigate this issue, could you please provide us with a minimalistic repro project that illustrates the problem?

[2018-02-06 15:03] ClausSuperusers commented on #59
@joacar Did You find a (simple) solution to this issue?
I've got the same problem and Scott Hanselman's information are related to a very old version of MVC - I don't recall having this issue with MVC4 or 5.
It DOES seem to be related only to the Client side validation....

[2018-02-12 22:39] mkArtakMSFT commented on #35
Closing this as the libraries are already available on CDN.

[2018-02-12 22:39] #35 closed

[2018-02-12 22:43] mkArtakMSFT commented on #73
@javiercn, do you have any thoughts regarding this?

[2018-02-12 22:44] mkArtakMSFT commented on #72
Thank you for filing this issue. In order for us to investigate this issue, could you please provide a minimalistic repro project that illustrates the problem?

[2018-02-12 22:46] mkArtakMSFT commented on #71
Thanks for reporting this issue, @FanrayMedia.
@kichalla, can you please look into this when you'll be back? Thanks!

[2018-02-12 22:48] mkArtakMSFT commented on #71
Actually, it seems this is a dupe of https://github.com/aspnet/jquery-validation-unobtrusive/issues/66. Closing this issue.

[2018-02-12 22:48] #71 closed

[2018-02-12 22:48] mkArtakMSFT commented on #66
@kichalla , can you please look into this when you'll be back.

[2018-02-12 22:53] mkArtakMSFT commented on #65
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-02-12 22:54] mkArtakMSFT commented on #65
@kichalla, is there any documentation or post we can refer to?

[2018-02-12 22:55] mkArtakMSFT commented on #64
@kichalla, can you please look into this when you'll be back? Thanks!

[2018-02-12 22:56] mkArtakMSFT commented on #63
@jbagga, can you please handle this?

[2018-02-12 23:00] mkArtakMSFT commented on #60
Hi @kevindb. Sorry for the late response. Is this issue still valid?

[2018-02-12 23:03] mkArtakMSFT commented on #57
Hi folks. It seems there was some issue on our end regarding how the packages were published. We're tracking the fix as part of https://github.com/aspnet/jquery-validation-unobtrusive/issues/66 issue. An additional fix will be made to make sure the NuGet packages contain the latest libraries going forward.

[2018-02-12 23:03] #57 closed

[2018-02-12 23:05] mkArtakMSFT commented on #47
@jbagga , can you please look into this? Thanks!

[2018-02-12 23:06] mkArtakMSFT commented on #46
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-12 23:06] #46 closed

[2018-02-12 23:11] mkArtakMSFT commented on #32
@ryanbrandenburg, can you please look into this? Not sure I clearly understand the issue, though.

[2018-02-12 23:12] #29 closed

[2018-02-12 23:13] javiercn commented on #73
I'm not sure this is an scenario supported by our client validation package. If a user hits the submit button, the validation summary is likely to get updated, but doing so on a control update will probably require work on our side.

[2018-02-14 15:46] luisluix opened #75 "WCAG validation failure for aria described by after fixing errors on forms."
https://dotnetfiddle.net/HiDCu5

Step 1; click submit
Step 2: put something in textbox 1
Step 3: inspect elements

If you check the "aria-described by" of the elements, input1 aria-described by points to "inputtext-error", but since we already fixed the error, the element with the "inputtext-error" ID no longer exists. This is what is causing the WCAG error. When we do step 2, aria-described by on

[2018-02-16 17:56] mkArtakMSFT commented on #75
@jbagga, can you please look into this? Thanks!

[2018-02-16 18:36] mkArtakMSFT commented on #73
Let's have this on our radar as a relatively low priority item.

[2018-02-20 20:29] jbagga commented on #63
@sergeydgr8 Version 3.2.4 does not have any instances of andSelf https://github.com/aspnet/jquery-validation-unobtrusive/blob/v3.2.4/jquery.validate.unobtrusive.js which is the latest on NuGet.
Which version are you using?

[2018-02-21 03:00] kevindb commented on #60
@mkArtakMSFT Thank you for the response. Yes, the issue is still valid.
@Bokkeman reports in [issue #398](https://github.com/jquery-form/form/issues/398#issuecomment-365179884) that the stack overflow error still occurs in latest Edge browser on Win 10.

Updated example: https://jsfiddle.net/qz7d6dhh/1/

[2018-02-22 19:12] mkArtakMSFT commented on #60
@kevindb, I could reproduce the issue as is. However, if I swap the registration of jquery.validate.js and jquery.validate.unobtrusive.js, as follows, the issue goes away:
![image](https://user-images.githubusercontent.com/34246760/36558840-37bd1858-17c1-11e8-966f-d2e85da15f0c.png)

Seems like a very easy workaround to apply

[2018-02-22 19:33] kevindb commented on #60
Most JS libraries must be included _after_ other libraries they are dependent on. In swapping the jquery.validate.js and jquery.validate.unobtrusive.js, do both validate and validate.unobtrusive still work as expected?

[2018-02-23 21:46] mkArtakMSFT commented on #60
So it seems the only conflict is between `jquery.validate` and `jquery.validate.unobtrusive` libraries. `jquery.form` doesn't seem to be relevant here, as modifying your sample by removing the `jquery.form` still results in the same error.

[2018-02-23 21:47] mkArtakMSFT commented on #60
/cc @danroth27, @DamianEdwards FYI

[2018-02-26 21:54] jbagga commented on #63
@sergeydgr8 Closing for now. Please feel free to reopen this with more information, if needed!

[2018-02-26 21:54] #63 closed

[2018-02-26 22:00] sergeydgr8 commented on #63
SGTM. I haven't used this in a while and the project that I needed this on is no longer maintained.

[2018-02-27 01:11] Eilon opened #76 "Have this package available on CDNJS"
See https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md for how to make this happen.

[2018-02-27 01:11] Eilon commented on #76
Tagging @DamianEdwards @jbagga FYI

[2018-03-06 16:37] joacar commented on #59
@ClausSuperusers

Unfortunately not. I haven't had the time to write document the steps, so here you go

Below is only for `number.js` so add more modules if needed.
[code]

I currently load them on page load like this
[code]

What I would like to figure out and write about is how to create a tool that

1. Take a list of supported cultures
2. Downloads the necessary `cldr-data` files
3. Create a `

[2018-03-06 21:35] jbagga commented on #47
For cdnjs, auto-update has been set up https://github.com/cdnjs/cdnjs/pull/7332 via npm

[2018-03-07 00:12] #74 closed

[2018-03-08 01:09] kichalla commented on #66
I have now published a new version (3.2.8) to npm registry having the minified file and a minor fix (https://github.com/aspnet/jquery-validation-unobtrusive/issues/74).

[2018-03-08 01:09] #66 closed

[2018-03-08 18:19] Eilon commented on #66
@kichalla / @mkArtakMSFT - we've worked with @jbagga to come up with a release plan for these packages. Did we do everything we need to do for this release?

[2018-03-09 09:58] martijnboland opened #79 "Webpack build with version 3.2.8 is failing"
When using the latest version from NPM (3.2.8) with webpack, the following error occurres:
[code]
I think webpack tries to resolve jquery.validate as a dependency (via AMD define) but it fails because it's probably known within webpack as jquery-validation. A workaround is to add the following rule to the webpack config:
[code]

[2018-03-09 09:59] moise commented on #79
same issue here.

[2018-03-09 10:11] dbengtsson commented on #79
Same here, downgrading to 3.2.6 works again. For those unfamiliar with semver: remove the ^ from package.json before 3.2.6 or it will force an update to 3.2.8 since it's a patchversion.

[2018-03-09 10:55] dbengtsson commented on #79
Can someone point me in the direction of why CommonJS uses dashes (-) and AMD uses dots (.) for module naming? I thought I'd fix this but quickly realized my knowledge of AMD is very limited.

[2018-03-09 12:17] kyrylovych commented on #79
The problem is that `jquery unobtrusive` is trying to load module with name *jquery.validate*.
But such module is not valid because in latest version of `jquery-validation` export was defined as *jquery*
Check it here.
[https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js](https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js)
[code]
I think this is

[2018-03-09 14:03] kyrylovych commented on #79
Sorry guys,

I haven't noticed the brackets in `define( ["jquery"], factory )`.
This means that `jquery validation` is exported as anonymous module.
But still, you can access it's name (in our case - *jquery-validation*)

The only way to resolve this issue is to change required dependency name in `jquery-validation-unobtrusive` library

[code]
to
[code]

[2018-03-09 17:52] mkArtakMSFT commented on #79
Thanks for reporting this issue. One of our engineers will look into this.

[2018-03-09 17:53] mkArtakMSFT commented on #79
@kichalla, can you please look into this and evaluate what options do we have? Thanks

[2018-03-13 16:32] jbagga commented on #75
Thanks @luisluix
This seems to be a dupe of https://github.com/jquery-validation/jquery-validation/issues/2094 as you are aware of already :)
Closing for now.

[2018-03-13 16:32] #75 closed

[2018-03-13 16:41] Eilon commented on #79
BTW if we fix this, this fix would go into the next milestone, which is 3.2.9 (because we already pushed 3.2.8).

[2018-03-13 18:40] jbagga commented on #47
@Eilon @mkArtakMSFT The build scripts are in place for the next release for aspnet/jquery-validation-unobtrusive and aspnet/jquery-ajax-unobtrusive. Removing the Working label for now.

[2018-03-21 07:41] li0nsar3c00l commented on #79
Any ETA, when this will be solved?

[2018-03-21 15:47] Eilon commented on #79
@li0nsar3c00l no ETA at this time, but hopefully not too far out.

[2018-03-27 12:45] kichalla commented on #79
As suggested earlier in this thread, after doing the following change, Webpack build works fine:

`define("jquery.validate.unobtrusive", ['jquery.validate'], factory);`
to
`define("jquery.validate.unobtrusive", ['jquery-validation'], factory);`

[2018-03-28 20:34] li0nsar3c00l commented on #76
would like to see this too

[2018-03-30 23:13] benface commented on #79
@kichalla This is not fixed. You changed it from `jquery.validate` to `jquery.validation`. It needs to be `jquery-validation`.

[2018-04-02 20:49] Baune8D commented on #79
@kichalla Please re-open this issue. The problem persists.

[2018-04-02 21:17] kichalla commented on #79
Ah, this was my bad. I did the verification using the correct name https://github.com/aspnet/jquery-validation-unobtrusive/issues/79#issuecomment-376511463, but my check-in was different. Re-opening this issue.

[2018-04-02 21:18] kichalla opened #85 "Make Webpack as part of the build process to catch any errors"
This is so that we can avoid errors like these https://github.com/aspnet/jquery-validation-unobtrusive/issues/79

cc @mkArtakMSFT

[2018-04-02 21:24] mkArtakMSFT commented on #76
This is handled as part of the `Release checklist` we've put together for this repo.

[2018-04-02 21:25] mkArtakMSFT commented on #76
The package is available on CDNJS already: https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js

[2018-04-02 21:25] #76 closed

[2018-04-02 22:21] mkArtakMSFT commented on #85
Yes @Eilon

[2018-04-05 13:09] h2h opened #87 "Customize placement doesn't work"
[code]

[code]

[2018-04-05 16:41] mkArtakMSFT commented on #87
Thanks for contacting us, @h2h.

Can you please share more details about your scenario?
What is the expected behavior and what do you observe?

[2018-04-05 20:30] mkArtakMSFT commented on #65
Closing as this was just a question asked a while ago.

[2018-04-05 20:30] #65 closed

[2018-04-05 20:31] mkArtakMSFT commented on #72
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-05 20:31] #72 closed

[2018-04-07 21:00] li0nsar3c00l commented on #79
Since CI/CD is not implemented, when will this fix be pushed to npm?

[2018-04-18 21:06] mkArtakMSFT commented on #87
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-18 21:06] #87 closed

[2018-04-18 23:45] colindekker commented on #79
For people using webpack, the easiest option is to alias `jquery.validate` in the resolve block of webpack. Below tested with Webpack 4 (latest) and latest versions of both jquery-validation and jquery-validation-unobtrusive.
This way there is no need to hack the `jquery-validation-unobtrusive` package files, and when the offending lines are fixed in a next release your webpack build will keep wor

[2018-04-20 17:36] MikeAlhayek opened #88 "Unable to override errorPlacement function using $.validator.setDefaults()"
I am trying to change the error placement to fit css-bootstrap3

I added the following code before I included `jquery.validate.unobtrusive v3.2.9`

But my `errorPlacement` function never gets called. also adding ` errorClass: "help-block"` does not override the `jquery.validate.unobtrusive` default class-name.
[code]

[2018-04-24 17:16] mkArtakMSFT commented on #88
Thanks for contacting us, @CrestApps.
@SteveSandersonMS , any suggestions? Thanks!

[2018-05-01 22:52] jbagga commented on #88
@CrestApps Are you able to share a repro sample?

[2018-05-03 23:10] kichalla commented on #60
I am unable to repro the issue anymore (on Edge, IE and Chrome) with the latest script versions. Here the jsfiddle using latest scripts. So I think we are good to close this.
https://jsfiddle.net/qz7d6dhh/4/

[2018-05-04 07:54] Bokkeman commented on #60
Firefox and Chrome are now good, but Edge on Win10 still throws a stack overflow error when either a) calling `formElement.reset();` or b) clicking the standard `Reset` button in this fiddle:
https://jsfiddle.net/qz7d6dhh/6/

[2018-05-04 17:48] jbagga commented on #88
@CrestApps Please let us know if https://stackoverflow.com/questions/5487139/how-can-i-customize-the-unobtrusive-validation-in-asp-net-mvc-3-to-match-my-styl is not helpful. Or provide a working repro sample and I can investigate further. Thanks!

[2018-05-04 21:53] CrestApps commented on #88
@jbagga that does not work. In fact, that's the order I have my scripts included. I will try to create a repo to share when time permits.

[2018-05-08 20:26] mkArtakMSFT commented on #88
Hi @CrestApps. Can you please share a repro project with us to help with investigation?

[2018-05-09 00:11] CrestApps commented on #88
@mkArtakMSFT  @jbagga I created a repo to demonstrate the problem https://github.com/CrestApps/MvcWithUnobtrusive

The project is an Asp.Net MVC 5, I used VS 2013 to create it.

The current order in which my scripts are included are as follow

1.  /Scripts/jquery-1.10.2.js
2.  /Scripts/bootstrap.js
3. /Scripts/jquery.validate.js
4. /Scripts/jquery.validate.setup.js
5. /Scripts/jquery.validate.unob

[2018-05-09 17:10] #79 closed

[2018-05-09 17:19] kichalla commented on #85
54ce1311a56792b1e885ede47de1a84273cb9d69

[2018-05-09 17:19] #85 closed

[2018-05-09 18:03] jbagga commented on #88
@CrestApps Thank you for the project. I am able to see this repro.

I have a work around for now and tagging @kichalla to look at it and see if the product code needs to change.

I split the `jquery.validate.setup.js` file into two: one that overrides `highlight` and `unhighlight` functions from `jquery.validate.js` (same as yours without `errorPlacement` function) and another that overrides the `

[2018-05-11 20:35] jbagga commented on #88
@CrestApps Is your issue solved with the above suggestion?

[2018-05-11 21:49] CrestApps commented on #88
@jbagga yes. I hope there is a fix coming up for this in a future releases as what you provided is a workaround.

Thank you

[2018-05-11 22:25] mkArtakMSFT commented on #88
Thanks @jbagga for looking into this.
@javiercn, can you please continue this investigation as @jbagga will be out from the next week? Thanks!

[2018-05-21 16:19] kichalla commented on #64
Yes, this is a bug.

[2018-05-21 17:55] kichalla opened #91 "Make this repo built as part of CI"

[2018-05-21 20:54] mkArtakMSFT commented on #91
@kichalla, please work with @ryanbrandenburg to setup the CI for this repo.

[2018-05-21 23:34] ryanbrandenburg commented on #32
@SanteR1 I need more information about what exactly you're trying to do, especially since I'm not framiliar with jquery localization concepts and patterns. Why do you need to include messages both in the `data-val-required` area and in your localizer? Why not just do `data-val-required id="Title"` and have the property without any value?

[2018-05-22 17:14] kichalla commented on #79
Just FYI, a new version (3.2.10) having the correct fix for this has been published to npm registry few minutes ago.

[2018-05-29 21:54] ryanbrandenburg commented on #32
Closing as needs more info. If you're still having an issue here feel free to re-open with more info.

[2018-05-29 21:54] #32 closed

[2018-06-01 19:29] li0nsar3c00l commented on #88
Looking for a solution as well. This would make integration of existing themes much easier!

[2018-06-05 09:09] JohnsonYuan opened #92 "current version is not working"
When I put current jquery.validate.unobtrusive.js to page, throws error:

Uncaught TypeError: Cannot set property 'unobtrusive' of undefined
`
(function (factory) {
       // set jquery.validate.unobtrusive
}(function ($) {
      var $jQval = $.validator,
        adapters,
        data_validation = "unobtrusiveValidation";

    $jQval.unobtrusive = {                   // this line throws exception

[2018-06-05 16:32] mkArtakMSFT commented on #92
Thank you for filing this issue. In order for us to investigate this issue, could you please provide a minimalistic repro project that illustrates the problem?

[2018-06-11 17:18] mkArtakMSFT commented on #92
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-06-11 17:18] #92 closed

[2018-08-13 07:27] RaruRv commented on #20
use this
$( "#loginForm" ).validate( {
    highlight: function ( element, errorClass, validClass ) {
        $( element )
            .parents( ".form__item" )
            .addClass( "error-item" )
            .removeClass( "valid-item" );
    },

    unhighlight: function (element, errorClass, validClass) {
        $( element )
            .parents( ".form__item" )
            .addClass( "valid-i

[2018-08-16 07:51] Nettsentrisk commented on #88
Any reason why $.validator.defaults doesn't get passed on to $.validator.unobtrusive.options by default? That would surely simplify things a bit…

[2018-08-17 18:25] hsaunders0788 opened #93 "package.json points to old(?) license"
The package.json and bower.json files point to a Microsoft license ("https://www.microsoft.com/web/webpi/eula/net_library_eula_enu.htm"), but the LICENSE.txt clearly states that this package is available under the Apache-2.0 license, which the .NET Core package is also licensed under. This makes it confusing as to which license is the relevant license.

[2018-08-17 22:59] mkArtakMSFT commented on #93
Thanks for contacting us, @hsaunders0788.
@danroth27, can you please look into this? Thanks!
/cc @ryanbrandenburg

[2018-08-20 18:03] mkArtakMSFT opened #94 "Update licenses to be clear that it's .NET Foundation / Apache"

[2018-08-20 18:04] mkArtakMSFT commented on #94
https://github.com/aspnet/Templating/issues/32

[2018-08-20 20:39] mkArtakMSFT commented on #91
@javiercn, reassigning this to you.

[2018-08-20 21:54] mkArtakMSFT commented on #47
Closing this as this has been resolved as part of some other effort. We now have the drop targets defined at: https://github.com/aspnet/jquery-validation-unobtrusive/wiki/Release-checklist

[2018-08-20 21:54] #47 closed

[2018-08-24 23:05] #94 closed

[2018-08-25 21:51] Rabadash8820 commented on #88
Agreed with @Nettsentrisk.  I've been using ASP.NET Core with jQuery Unobtrusive Validation for about a year now, and trying to modify the default validation behavior has always been a nightmare since we have no control over when `$.validate()` is called and `$.validator.setDefaults()` seems to only work sporadically.  There at least needs to be some official info on the [Model Validation](https:/

[2018-08-29 00:34] CrestApps opened #96 "$.validator.addMethod is ignored when trying to add custom validation rules"
I am trying to add a new rule called `filesize` which inspects the size of the attached file.

If the file's size if greater than the allowed, I want to show client size error message.

I created [FileSizeAttribute](https://github.com/CrestApps/MvcWithUnobtrusive/blob/master/MvcWithUnobtrusive/FileSizeAttribute.cs) attribute to be able to use in my view-models to decorate my `HttpPostedFileBase` p

[2018-08-29 16:09] mkArtakMSFT commented on #96
Thanks for contacting us, @CrestApps.
It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-08-29 16:10] mkArtakMSFT commented on #96
/cc @javiercn

[2018-09-04 18:18] mkArtakMSFT commented on #96
@CrestApps, do you have any progress regarding this?

[2018-09-04 18:32] CrestApps commented on #96
No. I am still unable to solve this issue and can't find a workaround.

[2018-09-04 18:33] mkArtakMSFT commented on #96
Did you get chance to ask this on StackOverflow?

[2018-09-04 18:34] CrestApps commented on #96
Not yet. Are you seeing a case of incorrect usage?

[2018-09-04 18:44] mkArtakMSFT commented on #96
That's what it looks like from the first look (haven't investigated thoroughly). Hence we recommend people to use StackOverflow first for those type of issues. Then only, if no response, we'll try to spend some time to investigate those issues.

[2018-09-04 18:55] CrestApps commented on #96
I added a question on stackoverflow. Is there a specific tag that I should be using?

[2018-09-05 00:28] CrestApps commented on #96
The issue was resolved. jQuery validator by default does not validate hidden inputs. I added `ignore: ":hidden:not('.force-validaion')",` to `$.validator.setDefaults` then I added the `force-validation` class to the hidden input.

[2018-09-05 00:28] #96 closed

[2018-10-01 19:14] rpokrovskij opened #101 "how to debug? where to put breakpoint?"
I have strange situation: unobtrusive validation works well in Chrome and Edge but shows not correct error "field is required" in IE 11 (when there is a text in that field) on submit <button> click. Console is clear.

Do we have any "debug" mode that can be enabled and can post additional info to the console?

[2018-10-01 19:59] Eilon commented on #101
I thought the NPM package has a "min" file that's minified, and a regular file that is human-readable (and easier to debug(. Is that not the case?

[2018-10-01 21:31] rpokrovskij commented on #101
downgrade to jquery-validation: 1.17.0 solved my problems.

[2018-10-03 21:36] ryanbrandenburg commented on #101
@rpokrovskij I think the next step is for you to upload a GitHub repo with a minimal reproduction app that demonstrates this problem. Once I have that it'll be much easier for me to help you.

[2018-10-05 14:18] mukaofssn opened #102 "JQMIGRATE: jQuery.parseJSON is deprecated; use JSON.parse"
While upgrading JQuery to 3.3.1, jquery.validate.unobtrusive.js to 3.2.10 along with JQuery Migrate 3.0.0, the above warning shows up. Kindly advise if this will be addressed in the coming versions.

[2018-10-05 15:59] mkArtakMSFT commented on #102
Thanks for contacting us, @mukaofssn.
Can you please share a sample repro project so we can investigate it?

[2018-10-07 03:49] Braytiner opened #103 "Validate Datepicker containing only date portion"
I use Asp.Net Core MVC (Razor + Jquery Validate + Unobtrusive). I display in a Datepicker only the date portion of a DateTime field through the following code in my ViewModel:

[Required]
[DataType(DataType.Date)]
public DateTime TargetDate { get; set; } = DateTime.Now;
However, in my view, typing the contents of the field with a valid date, I get the error message "Please enter a valid date."

Wh

[2018-10-08 16:14] mkArtakMSFT commented on #103
Thanks for contacting us, @Braytiner.
@ryanbrandenburg, can you please look into this? Thanks!

[2018-10-10 19:04] davidliang2008 commented on #79
Hmmm I am still seeing the problem. I got `jquery-validation: 1.18.0` and even `jquery-validation-unobtrusive:3.2.11` from npm and the issue still persists.
The only way I can get it working is to downgrade `jquery-validation-unobtrusive` back to 3.2.6.

[2018-10-11 11:06] mcmullon commented on #101
Hi, I ran into the same issue, and reverting to v1.17.0 of jquery.validate fixed the problem for me. I think it is related to
https://github.com/jquery-validation/jquery-validation/issues/2211

[2018-10-11 22:01] javiercn commented on #93
This was done or points to the right place now: https://aka.ms/jqueryunobtrusivelicense

[2018-10-11 22:01] #93 closed

[2018-10-12 22:07] ryanbrandenburg commented on #103
@Braytiner please upload a minimal repro app to GitHub and link it here so that I can be sure I understand the context of your issue.

[2018-10-14 13:30] lonix1 commented on #88
@li0nsar3c00l @Nettsentrisk @Rabadash8820 This plugin has been a pain in the butt since it was released many many years ago, because it conceals the underlying plugin and doesn't allow you to modify the config.

So [use this approach](https://gist.github.com/beccasaurus/957732/a41a90675e9b9bcb8f4fdccce443b51cf858de72) to get "hooks" that you can use for styling, capturing validation events, and so

[2018-10-14 13:35] lonix1 opened #104 "Add hooks for various events, and allow configuration"
This plugin has been a pain to use since the very beginning, since it both conceals the underlying jQuery validate plugin, and doesn't allow you to (easily) override the configuration.

Just look at the number of questions on StackOverflow to get an idea how much of a problem this is.

We've been [using this approach](https://gist.github.com/beccasaurus/957732/a41a90675e9b9bcb8f4fdccce443b51cf858d

[2018-10-15 00:05] wolfkumpitsch1 opened #105 "Missing dist folder again #1877"
breaking PROD version
dist folder added to ignore in .gitignore

is this going to be the future default?

[2018-10-15 16:08] mkArtakMSFT commented on #105
Thanks for contacting us, @wolfkumpitsch1.
@ryanbrandenburg, what was the motivation for ignoring `dist` folder?

[2018-10-15 16:10] mkArtakMSFT commented on #104
Thanks for contacting us, @lonix1.
@danroth27, thoughts?

[2018-10-15 17:04] Eilon commented on #105
We removed it because the idea was that running `build` (or whatever) will produce it. We don't check in build outputs into the repo, only the "source code."

But I warned this might break something!

Having said that, @wolfkumpitsch1 , can you provide info on what you were doing and how you saw an error?

[2018-10-15 17:06] Eilon commented on #105
This was the PR that removed it: https://github.com/aspnet/jquery-validation-unobtrusive/pull/99

[2018-10-15 22:49] ryanbrandenburg commented on #105
@wolfkumpitsch1 I think we're asking more like how are you acquiring and using the package. IE, npm, git, nuget etc.

[2018-10-15 22:52] wolfkumpitsch1 commented on #105
Ah. Sorry.
NPM in VS2017, the setup was created by a 3rd party a few years ago, not my field of strength, sorry.

From: Ryan Brandenburg <notifications@github.com>
Sent: Tuesday, 16 October 2018 9:50 AM
To: aspnet/jquery-validation-unobtrusive <jquery-validation-unobtrusive@noreply.github.com>
Cc: Wolf Kumpitsch <wolf.kumpitsch@dbdrv.vic.gov.au>; Mention <mention@noreply.github.com>
Subject: Re: [

[2018-10-16 02:11] Eilon commented on #105
Hi @wolfkumpitsch1 , Bower is unfortunately no longer supported by us and we recommend using an alternative such as NPM to acquire static assets such as this project.

[2018-10-17 16:58] mkArtakMSFT commented on #105
@wolfkumpitsch1, we still don't understand what you're having trouble with. Please provide a repo in GitHub that demonstrates your problem, so we can investigate it.

[2018-10-17 21:48] danroth27 commented on #105
After chatting with @javiercn it sounds like Bower in particular expects that the repo contains a dist folder with the production files (i.e. minified), so removing this folder from the repo broke Bower scenarios. That said, you may be able to point to an earlier tagged version that still has the dist folder (ex https://github.com/aspnet/jquery-validation-unobtrusive/tree/v3.2.10).

[2018-10-17 21:48] danroth27 commented on #105
@wolfkumpitsch1 Can you switch to using npm directly instead?

[2018-10-17 22:00] danroth27 commented on #103
@dougbu Do we support `[DataType(DataType.Date)]` on a `DateTime`?

[2018-10-17 22:12] Eilon commented on #105
Right, breaking Bower was an explicit decision that was made, so that was deliberate.

[2018-10-17 22:20] dougbu commented on #103
FYI the (minimal) `IsValid(...)` code for this attribute is just https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/DataTypeAttribute.cs#L105-L110

[2018-10-18 16:49] ryanbrandenburg commented on #105
Sounds like you have this under control then. Closing.

[2018-10-18 16:49] #105 closed

[2018-10-18 17:11] mkArtakMSFT commented on #103
@Braytiner, please provide a minimalistic repro hosted in GitHub, so we can investigate this further.

[2018-10-18 21:57] dougbu commented on #103
@Braytiner FYI the generated HTML when you're using `[DataType(DataType.Date)]` *should* at most enforce the `[Required]` attribute using unobtrusive validation.

I suspect the default `Date` format (`"{0:d}"`) (or `[DisplayFormat(..., DataFormatString = "{0:MM/dd/yyyy}")]`) causes your browser to show a text box instead of a date picker. Then, users enter something invalid for the current culture

[2018-10-25 16:55] mkArtakMSFT commented on #103
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-10-25 16:55] #103 closed

[2018-11-29 02:13] nickalbrecht commented on #64
Just ran into this as well.

Both the code, and the comments, indicate that if you leave off the `attribute` parameter, it will default to "val". However it's not done in both places it's needed to behave this way. Until it's fixed, it's actually a required field in order to get the expected behavior, and "val" (or whatever name you plan on using) should be passed as the `attribute` parameter.

[2018-12-18 20:10] Braytiner commented on #103
Sorry guys! After two months I encountered the problem: the validation function in methods_pt.js has some errors, so I overwrited this with another function and it worked. So, the error wasn't in unobtrusive validation.

Thanks for your patience after this long time.

[2019-01-22 11:21] ferronsw commented on #88
I'm having the same problem. @danroth27  any idea when this is going to be fixed?

[2019-02-19 12:46] Baune8D opened #112 "Old version of jquery-validation included in npm package."
I seem to run into this bug https://github.com/jquery-validation/jquery-validation/issues/2211 when updating this library to any version above 3.2.6.

It seems to happen because the npm package includes jquery-validation v1.18.0 in its own node_modules folder, this makes it take precedence over whatever version i define in my own package.json.

I am using:
Node.js v10.13.0
Yarn v1.13.0
Webpack v4.

[2019-03-19 18:54] Baune8D commented on #112
Nevermind. This was caused by my lock file for some reason. Closing

[2019-03-19 18:54] #112 closed

[2019-07-12 09:18] sxndy1 opened #113 "Changing Language of ErrorMessages"
Hey guys,

I've set the validation rules via data annotations in my model.

On my local machine (german environment) my error messages are shown in german language. Everything fine. But after deploying to the server the messages on the website are shown in english. But I want them in german language like on my local machine.

My questions are:
1) How can I explicit activate the already **existing*

[2019-08-02 10:58] ahedreville commented on #88
I fall into the same issue, any update?

[2019-08-14 10:17] jerone commented on #96
For anyone interested; below adds the class `val-force` to force validation on hidden element and the class `val-ignore` to ignore some elements:

[code]

[2019-09-06 10:29] XmlmXmlmX commented on #28
Some news here?
In all my aspnet core projects, jQuery is only involved because of jquery-validation-unobtrusive.

[2019-10-29 16:46] tonibabieka opened #114 "Doesn´t work properly if checkbox label is after"

[2019-10-29 16:53] #114 closed

[2019-12-16 12:09] EdwardGray953 opened #118 "StringLength validation does not account for \r\n"
When checking stringlength with JS, new lines are normalised to the linefeed (\n) character. When submitted and input, they are typically entered as CRLF (\r\n).

Should the stringlength validation account for the missing CR (\r) character when validating?

As an example, the following string would evaluate to a length of 9 characters:
abcdCRLFefgh

[2020-01-22 10:51] EdwardGray953 opened #119 "aria-describedby issues - applying & removing"
aria-describedby attributes are not updated/removed when a field validates correctly
The attribute should be removed when the error ID is the only ID in the list.
The error ID should be removed from the list when there are other IDs in the list.

aria-describedby is also applied whenever an element is validated, regardless of whether the element validates successfully or not. Should only be applie

[2020-01-22 10:57] EdwardGray953 commented on #113
Sounds like there is some localisation available on the server/website. You probably need to configure the website to select the correct localisation for each session, which in turn should provide the language-specific error messages (I'm assuming that the pages themselves are designed to display in different languages).

[2020-01-22 11:24] sxndy1 commented on #113
When displaying all possible server localisation and globalisation variables to the page they're all set to german. But still english error messages.

And no, it's a pretty small web application for intranet, only one language.

[2020-02-28 09:27] martijnbroekman opened #120 "I don't want to initialize on page load"
Our webapplication uses jquery-validation with localization, but we have a problem. Our translations of the errors are loaded into the "data" attributes after the document ready event, so unobtrusive validation doesn't initialize with the right error messages.

Is it possible to disable the default initialization and replace it with our own event?

This is what i've done in our own project:

I've

[2020-02-28 23:06] Bartmax opened #121 "Nullable c# 8.0 bug?"
When enable nullable c# 8 on properties, client side validations defaults to required but server-side validation doesn't.

This makes client and server side validation out of sync, and may pose a "security flaw"

Having a class with auto-initialized string properties
[code]

With this cshtml
[code]

The result HTML:
[code]

(the enabled one is marked as required on client-side validation) but will

[2020-03-02 22:48] Bartmax commented on #121
I found out the issue is because asp.net core 3.0. I don't see this as a breaking change in the list of breaking change. Maybe should be added?

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.mvcoptions.suppressimplicitrequiredattributefornonnullablereferencetypes?view=aspnetcore-3.1

[2020-03-02 22:48] #121 closed

[2020-04-23 13:01] dbarwikowski opened #123 "Groups not working"
I've tried to add group validation for 3 inputs (date splitted on day | month | year)
in jquery.validate there is an option for that
[code]

whenever there is invalid value in one of the inputs then one error is displayed.

Is there a possibility to add this to the unobtrusive validation?

`data-val-group="birthDate"`

[2020-06-03 08:37] leppie opened #125 "Regex validation issue with select multiple"
https://github.com/aspnet/jquery-validation-unobtrusive/blob/master/src/jquery.validate.unobtrusive.js#L347

The following

[code]

should be

[code]

as `value` can be an array from a `select` with `multiple` attribute.

`RegExp.exec` will correctly convert an array into a comma-seperated string for the match and populate the `input` property in the result.

The following returns the same output,

[2020-06-28 06:06] John0King opened #126 "how to use this plugin with ajax ?"
I want to submit using ajax ,  and this code I tried:

[code]

but the form will submit without this code

[2020-08-13 13:51] RobJohnston commented on #118
There is an upstream issue that address this at  https://github.com/jquery-validation/jquery-validation/issues/2101

In that issue, the explanation of the HTML5 specification gives the reason why browsers do this and a work-around is provided.

[2020-08-13 13:59] RobJohnston commented on #102
Link to upstream issue:  https://github.com/jquery-validation/jquery-validation/issues/2322

[2020-08-13 14:08] mukaofssn commented on #102
@mkArtakMSFT my apologies I completely missed your reply and just now got an email reminder to share a repro code.

[2020-09-29 18:22] rameshbsupekar opened #128 "content security policy src : self , violation occurs for style added through javascript file"
` <span class="text-danger"><div class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>`

above line is geettig added in page where library is used in this inline style display none is getting added
to fix this seprate css file can be created and class can be assigned to ul where style needs to be given

following error is shown in developer tools
Refused to

[2020-11-17 08:51] glombek commented on #123
Basic group functionality can be implemented with a custom adapter, like so:

[code]

Then add `data-val-group="groupName"` (no spaces allowed) to each element in the group.

This only provides the same functionality as what you described above, no additional grouping logic.

[2020-12-25 02:14] Byron2016 opened #130 "jquery-validation-unobtrusive and jQuery.validate dont play well together"
Versions:
- jquery-validation-unobtrusive: v3.2.11
- jquery.validate(): v1.19.2

Problem:
My validations work well with jquery.validate() or with  jquery-validation-unobtrusive; but if with two working together they doesn´t work anymore.

How can I solve the problem? Maybe someone has the solution?

[2021-03-15 22:28] JunTaoLuo opened #135 "Renaming default branch to main"
By 3/19/2021, we're going to rename the default branch in this repository to main. For more details, see [our earlier announcement](https://github.com/dotnet/announcements/issues/172).

[2021-03-22 18:17] #135 closed

[2021-05-04 12:51] neilmulhy commented on #102
Any news when v3.2.13 is out and whether this issue will be fixed in it? I'm looking to upgrade to JQuery v3.6 but the latest CDN (v3.2.12) doesn't have the fix in -> https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js

[2021-07-05 06:30] rmacfadyen opened #139 "data-val-required and input type=checkbox does not work"
Adding a required validation to a checkbox does not work (min repro fiddle https://jsfiddle.net/ho6ngv7t/1/).

The code specifically ignores required & checkbox with the comment "jQuery Validate equates "required" with "mandatory" for checkbox elements". It's unclear what the implied difference is between required and mandatory.

Required checkboxes are unusual, but not uncommon. The common use ca

[2021-07-28 03:38] omajid opened #140 "This project is under Apache but the nuget package is licensed under a different license?"
The `LICENSE.txt` file says this project is under Apache 2.0.

But the NuGet package says it's under the (non-Open Source) "MICROSOFT .NET LIBRARY" license:

https://github.com/aspnet/jquery-validation-unobtrusive/blob/95c686bc6c64538d41d45080975b861cf7e8076b/Microsoft.jQuery.Unobtrusive.Validation.nuspec#L11

Is this intentional?

[2021-07-28 03:38] omajid commented on #140
cc @dleeapho @leecow

[2021-07-29 16:50] omajid commented on #140
cc @dseefeld @MichaelSimons @crummel

[2021-07-29 17:57] Pilchie commented on #140
Also tagging @ChrisSfanos.

[2021-08-19 16:32] fredericDelaporte commented on #126
I had the same trouble. "Unobtrusive" attaches its own validator, and you cannot set most of its options.

You may follow [this StackOverflow answer suggestions](https://stackoverflow.com/a/19256198/1178314).

Instead I solved it by hacking through [jQuery validate default options](https://jqueryvalidation.org/jQuery.validator.setDefaults/).
If you have only one form to validate on the page, you c

[2021-08-21 15:43] KoshelevS opened #142 "Add support for Unicode property escapes in regex validation"
It looks like the library does not support Unicode property escapes like \p{L} in regex validation. Can we add this support.

I think we can change
[code]
here https://github.com/aspnet/jquery-validation-unobtrusive/blob/main/src/jquery.validate.unobtrusive.js#L346
to
[code]
and
[code]
here https://github.com/aspnet/jquery-validation-unobtrusive/blob/main/src/jquery.validate.unobtrusive.js#L369
to

[2021-12-02 16:55] PatrickMcDonald commented on #126
The submitHandler may be a red-herring here.  I think you can achieve the same result using plain jQuery:

    $("#mainForm").submit(function (e) {
        var f = $(this);
        e.preventDefault(); // or return false after the ajax call
        console.log('xxxx');
        $.ajax(f.prop("action"), {
            type: f.prop("method").toUpperCase(),
            data: f.serialize()
        })

[2022-01-17 10:11] pkunze opened #145 "Yarn audit - dependency vulnerability detected"
Hi all!

running yarn audit on a project using `jquery-validation-unobtrusive` results in

[code]

It seems that bumping up the depencency on `jquery-validation` in `package.json` would fix this.
I would glady go ahead and submit a PR for this if there is no reason not to do so.

[2022-01-17 10:33] pkunze commented on #145
nevermind. it was me forgetting to upgrade the lockfile.

[2022-01-17 10:33] #145 closed

[2022-02-10 19:43] jonathh21 commented on #72
So frustrating....

[2022-06-21 15:43] richlander commented on #140
Ping ... Can we make this happen for .NET 7?

[2022-06-23 23:48] dougbu commented on #140
Adding @mkArtakMSFT as well.

I remember discussing this issue a few weeks ago but don't recall the upshot. Suggest we wait for @Pilchie's return from vacation.

[2022-06-24 04:11] richlander commented on #140
@ChrisSfanos is going to resolve this for us.

[2022-06-25 23:53] robstruthers opened #151 "Ability to change field-validation class names"
I am currently using jquery-validation-unobtrusive with a Bootstrap 5 site. By changing the options I can get the input fields to work with bootstrap without any additional work by doing the below:

[code]

The issue I am having is that the error messages displayed below the input fields are wrapped in `field-validation-valid` and `field-validation-invalid` classes but, I can not find anywhere tha

[2022-06-28 18:33] #140 closed

[2022-07-06 22:37] wtgodbe opened #155 "Fix a few build warnings"
As described here: https://github.com/aspnet/jquery-validation-unobtrusive/pull/150#issuecomment-1176790560

[2022-07-20 06:56] Khaos66 commented on #139
This issue has cost me all morning. Because of this the `minlength` validation of a group of checkboxes isn't working, too.
Example: https://jsfiddle.net/2dbafshw/

The issue with `minlength` is, that the `minlength` validator checks if the field is `optional` (not marked as required) and returns `dependency-mismatch` instead of `false`, when the minimum amount of checked checkboxes isn't reached.

[2022-07-20 07:31] Khaos66 commented on #139
@mkArtakMSFT what's your take on this?

[2022-07-20 19:03] Khaos66 commented on #139
I fixed this very un-unobtrusivy via
[code]

[2022-07-21 16:06] mkArtakMSFT opened #157 "The license update in 4.0 wasn't picked up in cdnjs"
I've already filed an issue with them to address this: https://github.com/cdnjs/packages/issues/1246

Using this issue to track the progress.

[2022-07-25 16:41] mkArtakMSFT commented on #104
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2022-07-25 16:41] #104 closed

[2022-07-25 16:41] mkArtakMSFT commented on #113
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2022-07-25 16:41] #113 closed

[2022-07-25 16:41] mkArtakMSFT commented on #118
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2022-07-25 16:41] #118 closed

[2022-07-25 16:42] mkArtakMSFT commented on #119
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2022-07-25 16:42] #119 closed

[2022-07-25 16:43] mkArtakMSFT commented on #120
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2022-07-25 16:43] #120 closed

[2022-07-25 16:43] mkArtakMSFT commented on #123
Thanks for helping out with this, @glombek 👍

[2022-07-25 16:43] #123 closed

[2022-07-25 16:44] mkArtakMSFT commented on #125
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2022-07-25 16:44] #125 closed

[2022-07-25 16:44] #126 closed

[2022-07-25 16:44] mkArtakMSFT commented on #128
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2022-07-25 16:44] #128 closed

[2022-07-25 16:45] mkArtakMSFT commented on #130
Closing as the versions have been updated since then.

[2022-07-25 16:45] #130 closed

[2022-07-25 16:47] mkArtakMSFT commented on #139
Thanks for sharing your solution, @Khaos66.
Given there are not much community involvement on this issue nor it's a security issue we're going to close this.

[2022-07-25 16:47] #139 closed

[2022-07-25 16:47] mkArtakMSFT commented on #142
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2022-07-25 16:47] #142 closed

[2022-07-25 16:48] mkArtakMSFT commented on #151
Thanks for contacting us.
We're not making any improvements in this area any more as this project is in maintenance mode. Only critical blocking issue with wide impact and security issues are considered.

[2022-07-25 16:48] #151 closed

[2022-07-25 16:50] mkArtakMSFT commented on #151
Thanks for contacting us.
We're not making any improvements in this area as we prefer to work on more important areas of the framework instead. Only critical blocking issue with wide impact and security issues are considered.

[2022-07-26 00:51] lonix1 commented on #104
There is plenty of community interest - check StackOverflow. This plugin has one of the most horrible API designs imaginable, and it has been that way for over a decade.

As long as the templates still use jQuery Unobtrusive Validation, it needs to be updated. Working with forms is a incredible pain, just because of this library.

[2022-08-01 16:36] mkArtakMSFT commented on #157
This is going to happen automatically when the next version of the package is released to npmjs.
This is due to how cdnjs infrastructure works. The license change fix was already merged there so closing this.

[2022-08-01 16:36] #157 closed

[2022-08-19 15:08] sunsande opened #158 "No documentation"
This is the least documented project in history. There isn't a single line of documentation.

[2022-09-02 13:50] adamwillden-dfn commented on #158
I came to the repo to find out what changed to make v4 - no docs.

For those in the same boat, I had to go digging in the pull requests (thankfully not too hard, but not ideal):
![image](https://user-images.githubusercontent.com/105912073/188160661-c28a998b-e480-4987-8a78-d8424da675d0.png)

https://github.com/aspnet/jquery-validation-unobtrusive/pull/153/files

Still left having to assume that it

[2022-09-05 09:00] marklagendijk commented on #158
Sure, it is nice that this library is part of the default .NET setup etc, but when people actually visit this repo, they are usually looking for details.
This follows more the "it does what you want, trust me"-philosophy of .NET Framework, instead of the "you have full power and control"-philosophy of .NET Core.

Important details that are currently not documented:
- How is the library used and in

[2022-09-06 14:09] shawnpaige commented on #158
It is also curious that the library went to v4, but the actual JS file used by the majority of consumers only has changes in the comments/license.

https://github.com/aspnet/jquery-validation-unobtrusive/pull/153/files#diff-7682608b44f7ec8d3e8ee99d54671b335ec57fd7cba3ff3eb4e8751234648820

[2022-09-06 17:01] TanayParikh commented on #158
Thanks for reaching out, this is technical debt we have within this repo. We're open to community contributions in this area to improve the documentation for this library.

[2022-10-19 10:49] javiercn commented on #88
Closing in favor of https://github.com/dotnet/aspnetcore/issues/8573

[2022-10-19 10:49] #88 closed

[2022-10-19 14:17] javiercn commented on #64
Closing this issue in favor of https://github.com/dotnet/aspnetcore/issues/8573

[2022-10-19 14:17] #64 closed

[2022-10-19 14:18] #91 closed

[2022-10-29 03:30] nickalbrecht commented on #64
Ideally I'd really like to see this get fixed instead of closing it and sweeping it under the rug. The unobtrusive validation library is still the default script included in new ASP.NET Core projects, even if I create a brand new one today using .NET 6.0, and has been the default in new ASP.NET projects for a long time. Given how small the correction would be (or any other bug fixes that might be